



.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px 350px 50px;
    grid-template-areas:
      "h h h h h h h h h h h h"
      "m m c c c c c c c o o o "
}

.header {
    grid-area: h;
    text-align: center;
  }